[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.ncdesign.pt/wp-content/uploads/2012/05/IMG_7795-e1422015747871.jpg
Type=Link
URL=http://www.ncdesign.pt/wp-content/uploads/2012/05/IMG_7795-e1422015747871.jpg
Icon=image-jpeg
